@font-face {
    font-family: 'Commune_Nuit_Debout';
    src:    url('NuitDebout/Commune-Nuit_Debout_web.eot');
    src:    url('NuitDebout/Commune-Nuit_Debout_web.eot?#iefix') format('embedded-opentype'),
            url('NuitDebout/Commune-Nuit_Debout_web.woff') format('woff'),
            url('NuitDebout/Commune-Nuit_Debout_web.woff2') format('woff2'),
            url('NuitDebout/Commune-Nuit_Debout_web.ttf') format('truetype'),
            url('NuitDebout/Commune-Nuit_Debout_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Commune_Nuit_Debout_Pochoir';
    src:    url('NuitDeboutPochoir/Commune-Nuit_Debout_Pochoir_web.eot');
    src:    url('NuitDeboutPochoir/Commune-Nuit_Debout_Pochoir_web.eot?#iefix') format('embedded-opentype'),
            url('NuitDeboutPochoir/Commune-Nuit_Debout_Pochoir_web.woff') format('woff'),
            url('NuitDeboutPochoir/Commune-Nuit_Debout_Pochoir_web.woff2') format('woff2'),
            url('NuitDeboutPochoir/Commune-Nuit_Debout_Pochoir_web.ttf') format('truetype'),
            url('NuitDeboutPochoir/Commune-Nuit_Debout_Pochoir_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
